<!-- Change the width and outerHeight values to suit you best -->
<div class="typeform-widget" data-url="https://pocha.typeform.com/to/yELpg8" data-text="Sanan Ordering Form" style="width:100%; position:absolute; bottom: 0px; "></div>
<script>
  $(".typeform-widget").css('top',$("nav").outerHeight()+ "px")
</script>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

